:root {
    --couleur-primaire : #993B1F;
}
/* Empêcher le logo de s'étirer sur toute la largeur */
header img, .site-header img, #logo img {
    width: auto !important;
    max-height: 80px !important;
    display: inline-block !important;
}
